*{margin:0 auto}
*{box-sizing: border-box;}


    div.Tudo{
        width:100%;
        height:72.4vw;
        background-color:#F5F5F5;
             }

    div.Titulo{
        width: 70%;
        height: 8vw;
        background-color:#191970;
              }
   
    div.LinhaEmCima{ 
        width:70%;
        height:0.6vw;
        background-color:#DAA520
                    }

    div.PrinComerc{
        width:70%;
        height: 12vw;
        background-color:white
    }                

    div.FundoPrincipal{
        width: 70%;
        height:48vw;
        background-color:white
                      }

    div.Cima{
        width:100%;
        background-color:;
       
              }

    div.CimaCima{
        width:100%;
        height:15vw;
        background-color:;
                }

    div.CimaCimaEsquerda{
        width: 18%;
        height: 15.5vw;
        float:left;
        margin-left:1.7vw;
        background-color:#B0C4DE
                      }

    div.CimaCimaMeio{
        width: 48%;
        height: 15.5vw;
        float:left;
        background-color:#B0C4DE;
       
                        }

    div.CimaCimaDireita{
        width:30%;
        height:15.5vw;
        background-color:#B0C4DE;
        float:left;
        border: solid #ffffff 1px;
                        }

    div.BRCambio{
        width: 50%;
        background-color:;
        float:right; 
                }                    

    div.CimaMeio{
        width:100%;
        height:15vw;
        background-color:;
                }

    div.Meio1{
        width:19%;
        height:11vw;
        float:left;
        background-color:#B0C4DE;
        margin-left:1.7vw;
        border: solid #ffffff 1px; 
             }

    div.Meio2{
        width:19%;
        height: 11vw;
        float:left;
        background-color:#B0C4DE;
        border: solid #ffffff 1px 
             }

    div.Meio3{
        width:19%;
        height: 11vw;
        float:left;
        background-color:#B0C4DE;
        border: solid #ffffff 1px 
             }

    div.Meio4{
        width:19%;
        height: 11vw;
        float:left;
        background-color:#B0C4DE;
        border: solid #ffffff 1px 
             }

    div.Meio5{
        width:20%;
        height: 11vw;
        float:left;
        background-color:#B0C4DE;
        border: solid #ffffff 1px 
             }

    div.Linha1{
        width: 100%;
        height:0.6vw;
        background-color:#c0c0c0;
        clear:both
    } 

    div.Linha2{
        width: 100%;
        height:0.4vw;
        background-color:#D3D3D3;
        margin-top:0.2vw;
        clear:both    
               }
    div.Linha3{
        width: 100%;
        height:0.3vw;
        background-color:#DCDCDC;
        margin-top:0.2vw;
        clear:both    
               }                     
   
    
    div.LinhaEmbaixo{
        width:100%;
        height:0.6vw;
        background-color:#DAA520;
        margin-top:0.4vw;
                    }                  

    div.Rodape{
        width:100%;
        height:10vw;
        background-color:#191970;        
              } 
                                                                                                             

                  
    p.Titulo{padding-left:80px;padding-top:2%;font-size:5vw;font-family:"Agency FB";color:white;}  
 
    p.Escola{font-size:1.2vw;text-align: center;padding-top:1.5vw;color:white;}

    p.Nome{font-size:1.2vw;text-align: center;padding-top:1.5vw;color:white;}

    p.TituloPrincipal{font-size:1.7vw;font-family:"Agency FB";padding-top:0.4vw;font-weight: bold}

    p.HistoriaPrincipal{font-size:0.93vw;font-family:"Courier";padding-top:0.5vw;text-align:justify;padding-right: 2vw}

    p.NomeMoeda{font-size:1.5vw;font-family:"Agency FB";padding-top:0.5vw;font-weight: bold;text-align:center}

    p.Cambio{font-size:1.2vw;font-family:"Agency FB";padding-top:0.5vw;font-weight: bold;text-align:center}

    p.PrinComerc{padding-top:4vw;text-align:center;font-size:3vw;font-family:"Agency FB";color:#008000;}

    p.NomeBR{font-size:1.5vw;font-family:"Agency FB";text-align:center;margin-top:3vw;font-weight: bold;}

    p.CambioBR{font-size:1.2vw;font-family:"Agency FB";text-align: center;font-weight: bold;margin-top:0.5vw}

    p.att{text-align:right;margin-right:1vw;font-family:"Courier";font-size:0.9vw}

     p.Voltar{float:right;padding-right:2vw;padding-top:7vw;font-size:1vw}
    

    a.Voltar{text-decoration:none;color:blue;}

    img.PaisPrincipal{width:9vw;height:7vw;display:block;margin-top:2vw}
    img.Real{width:9vw;height:7vw;margin-top:2vw;margin-left:1vw}
    img.Bandeiras{width:6vw;height:4vw;margin-top:1vw;display: block}